body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;background-color: #251D14;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
 /*background-image: url("CHAI.jpg");*/
background-color: #251D14;
  min-height: 80px;
z-index: 1;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: relative;
  left: 20;
  margin: 20px;
  max-width: 370px;
   height: 420px;
  padding: 26px;
  margin: 0 auto 100px;
  background-color: white;
  border-radius:30px;
}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #b7baaf;
  border-radius:15px; 

}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
h1{text-align: center;
 }

/* Set a style for the submit button */
.btn {
  background-color:#833B00;/*#4CAF50;*/
  color: white;
  padding: 5px 10px;
   border-radius: 25px;
  border: none;
  cursor: pointer;
  width:200px;/* 100%;*/
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;

}
pre{color: #FFBF00; font-size: 50px;
  font-family: 'Pacifico', cursive;
  text-align: center;
transform: translate(5px,10px);
}